@page
@model VCS_DOCs.Pages.Content.contact_pageModel
@{
    Layout = null; // Так как контент грузится динамически
}
<div class="contact-card">
    <h2>Контакты</h2>
    <p>warmenzim@mail.ru</p>
</div>