@page
@model infographics_pageModel
@{
    Layout = null; // Так как контент грузится динамически
}
<div class="infographics_background">
    <h2>Инфографика</h2>
    <p>Тут графики введения ИИ, ТР и пр.</p>
</div>
