@page
@model profile_pageModel
@{
    Layout = null; // Так как контент грузится динамически
}
<div class="profile_background">
    <h2>Профиль пользователя</h2>
    <p>Про профиль</p>
    <p>89051185901</p>
</div>