@page
@model VCS_DOCs.Pages.Content.project_pageModel
@{
    Layout = null; // Так как контент грузится динамически
}
<div class="project_background">
    <h2>Проекты</h2>
    <p>Тут написаны проекты</p>
    <p>Много текста</p>
</div>
